<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <section class="field">
        {% for (i, row) in field.iter().enumerate() %}
        <div class="row">
            {% for (j, cell) in row.iter().enumerate() %}
            <div class="cell" style="background-color: {{ funcs.get_color(i, j) }}; box-shadow: 3px 3px {{ funcs.get_shadow_color(i, j) }};">
                {{ cell.borrow().value().unwrap() }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <a href="../" class="submit-button">Назад</a>
    </section>
</body>
</html>